:root {
    --highlight-color: #DB4C3F;
    --contrast-color: #dadada;
    --nav-list-toggle-duration: 0.3s;
    --task-form-show-duration: 0.1s;
    --task-form-button-hover-duration: 0.1s;
    --editable-border-color: rgba(128, 128, 128, 0.3);
    --editable-border-duration: 0.1s;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    transition: filter var(--task-form-show-duration) linear;
}

.wrapper--blurred {
    filter: blur(5px);
}

#wrapper {
    display: grid;
    position: relative;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    'header header'
    'nav project';
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    grid-area: header;
    background-color: var(--highlight-color);
}

.page-title {
    color: white;
    margin-left: 1em;
    font-weight: 600;
    font-size: 1.5em;
}

/* NAV */
nav {
    grid-area: nav;
    background-color: var(--contrast-color);
    padding: 1em;
}

nav > ul {
    list-style-type: none;
}

.nav-group {
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    margin: 1em 0;
}

.nav-chevron {
    transition: transform var(--nav-list-toggle-duration) ease-in-out;
}

.nav-chevron--rotate {
    transform: rotate(90deg);
    transition: transform var(--nav-list-toggle-duration) ease-in-out;
}

.nav-item-list {
    height: auto;
    overflow: hidden;
    transition: height var(--nav-list-toggle-duration) ease-in-out;
    margin: 0 1em;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0.25em 0;
}

.nav-item--highlighted {
    font-weight: 600;
}

.nav-item:hover {
    color: var(--highlight-color);
}

.nav-item > .fa-trash-alt {
    visibility: hidden;
    font-size: 0.8em;
    margin: 0 0 0 0.5em;
}

.nav-item:hover > .fa-trash-alt {
    visibility: visible;
    color: black;
}

.nav-item:hover > .fa-trash-alt:hover {
    color: var(--highlight-color);
}

.nav-item-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.label-toggle:hover {
    cursor: pointer;
    color: var(--highlight-color);
}

.label-toggle--hidden {
    display: none;
}

.input-toggle {
    display: none;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
}

.input-toggle--shown {
    display: block;
}

#add-project-text {
    color: grey;
}

#add-project-text:hover {
    color: var(--highlight-color);
}

#add-project-input {
    background-color: var(--contrast-color);
    font-size: 1em;
    font-weight: 400;
}

.add-task-item {
    display: flex;
    justify-content: center;
    opacity: 0;
}

.add-task-item--visible {
    opacity: 1;
}

#add-task-input {
    font-size: 1em;
    font-weight: 400;
}

/* PROJECT VIEW */
#project-view {
    display: flex;
    flex-direction: column;
    grid-area: project;
    padding: 1em 2em;
}

.project-header {
    display: flex;
    align-items: baseline;
    margin: 0 0 1em 0;
    visibility: hidden;
}

.project-header--visible {
    visibility: visible;
}

.project-title {
    display: inline-flex;
    font-size: 1.5em;
    font-weight: 600;
    width: fit-content;
    padding: 0.25em;
    border: 2px solid white;
    border-radius: 0.5em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    transition: border-color 0.1s ease;
}

.project-title:hover, .project-title:focus {
    border-color: rgba(128, 128, 128, 0.3);
}

.project-title:focus {
    outline: none;
}

.project-title + i {
    height: fit-content;
    margin: 0 0 0 1em;
    font-size: 1em;
    opacity: 0.25;
    transition: opacity 0.1s ease;
}

.project-title:hover + i, .project-title:focus + i {
    opacity: 1;
}

#task-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    align-items: center;
    list-style-type: none;
}

.task {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px grey;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1em;
}

.task > * {
    margin: 0 0 0.5em 0;
}

.task:hover {
    box-shadow: 0px 1px 5px grey;
}

.task > .fa-trash-alt {
    visibility: hidden;
    align-self: flex-end;
}

.task:hover > .fa-trash-alt {
    visibility: visible;
}

.task > i:hover {
    color: var(--highlight-color);
}

.task-header {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-done {
    display: inline;
}

.task-title {
    display: inline;
    font-weight: 600;
    font-size: 1em;
}

.task-desc {
    font-style: italic;
    font-size: 0.9em;
    color: grey;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.task-date {
    color: grey;
    font-size: 0.8em;
    font-weight: 600;
}

/* TASK FORM */
.task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 400px;
    height: auto;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: -2px 2px 5px grey;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.task-form--visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.task-form-group {
    display: flex;
    align-items: baseline;
    margin: 0 0 1.5em 0;
}

.task-form-group > h4 {
    font-size: 1em;
    font-weight: 600;
}

.task-form-done {
    display: inline;
    margin: 0 1em 0 0;
}

.task-form-title {
    display: inline-flex;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.25em;
    border: 2px solid white;
    border-radius: 0.5em;
    transition: border-color var(--editable-border-duration) ease;
}

.task-form-title:hover, .task-form-title:focus {
    border-color: var(--editable-border-color);
    outline: none;
}

.task-form-title + i {
    margin: 0 0 0 0.5em;
    font-size: 1em;
    opacity: 0.3;
    transition: opacity var(--editable-border-duration) ease;
}

.task-form-title:hover + i, .task-form-title:focus + i {
    opacity: 1;
}

.task-form-desc {
    display: inline-flex;
    font-style: italic;
    font-size: 1em;
    padding: 0.25em;
    border: 2px solid white;
    border-radius: 0.5em;
    transition: border-color var(--editable-border-duration) ease;
}

.task-form-desc:hover, .task-form-desc:focus {
    border-color: var(--editable-border-color);
    outline: none;
}

.task-form-desc + i {
    margin: 0 0 0 0.5em;
    font-size: 1em;
    opacity: 0.3;
    transition: opacity var(--editable-border-duration) ease;
}

.task-form-desc:hover + i, .task-form-desc:focus + i {
    opacity: 1;
}

.task-form-priority-list {
    display: flex;
    list-style-type: none;
}

.task-form-priority-item {
    /* TODO */
}

.task-form-button-container {
    display: flex;
    justify-content: space-around;
    margin: 1em 0 0 0;
}

.task-form-button {
    padding: 0.5em;
    background-color: white;
    font-size: 1em;
    font-weight: 800;
    border-radius: 0.5em;
    cursor: pointer;
    transition: color var(--task-form-button-hover-duration) ease-in-out, transform 0.1s ease-out;
}

.task-form-button:hover {
    color: white;
}

.task-form-button:focus {
    transform: scale(1.1);
    outline: none;
}

.save-button {
    color: green;
    border: 2px solid green;
    transition: background-color var(--task-form-button-hover-duration) ease-in-out;
}

.save-button:hover {
    background-color: rgba(0, 128, 0, 1);
}

.cancel-button {
    color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
    transition: background-color var(--task-form-button-hover-duration) ease-in-out;
}

.cancel-button:hover {
    background-color: rgba(219, 76, 63, 1);
}
